

.cartButton{

  padding: 5px 20px;
  margin-top: 0px;
  width: 50%;
  background-color: goldenrod;
  color: white;
  border-radius: 5px;
  border-color: transparent;
}

.inCartButton{

  padding: 5px 20px;
  margin-top: 0px;
  width: 50%;
  background-color: lightgrey;
  color: golden;
  border-radius: 5px;
  border-color: transparent;
}