.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0; 
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .navbar-header {
    background-color: goldenrod;
    width: 100%;
    text-align: center;
    height: 80px;
    line-height: 80px;
    margin-bottom: 1rem;
  }
  
  .site-title {
    font-size: 2rem;
    color: white;
    margin: 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0.5rem 0;
    list-style: none; 

  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  