.body {
    width: 80%;
    margin-left: 10%;
    margin-top: 220px;
    height: 600px;
    
  }
  
.card {
    padding-bottom: 5px;
    border-radius: 8px; 
    width: 29.333%;
    height: 400px;
    margin: 2%;
    text-align: center;
    float: left;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-image{
     
    margin: 10px 0 10px 0;
    width: 60px;
    height: 60px;
  
  }

  .noitems {
    padding-top: 50px;
    color: red;
    margin: 0;
    padding-bottom: 10px;
    

    font-size: 2rem; 
    font-weight: bold;
  

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 500px);
  }
  

  .outOfStock {
    padding-top: 50px;
    color: red;
    margin: 0px; 
    padding-bottom: 10px; 
  }

  .quantityContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 8px; 
    margin-top: 16px; 
  }
  
  .quantityLabel {
    font-weight: bold; 
  }
  
  
  .quantityDropdown {
    width: 80px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 8px;
  }
  
  .quantityInput {
    width: 80px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .quantityInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  