body {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 600px;
  padding-top: 60px;
  
}


.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%; 
  justify-content: center; 
  padding: 10px; 
  margin-top: 80px; 
}

.card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: space-between; 
  box-sizing: border-box; 
  height: 100%; 
}


.card-image {
  margin: 10px 0;
  width: 60px;
  height: 60px;
  object-fit: cover; 
}

button {
  padding: 10px 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #cc9900;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.stock-info {
  font-size: 1em;
  color: #333;
  margin: 0;
}


.quantityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}


.quantityLabel {
  font-weight: bold;
}

.quantityDropdown {
  width: 80px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box; 
}


.outOfStock {
  padding-top: 50px;
  color: red;
  margin: 0;
  padding-bottom: 10px;
}


@media (max-width: 1200px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .item-list {
    grid-template-columns: 1fr; 
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


.popup {
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  max-width: 400px;
  width: 90%;
  text-align: center;
  z-index: 1001;
 
}


@keyframes popup-animation {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.popup button {
  background-color: goldenrod; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #cc9900; }


@media (max-width: 600px) {
  .popup {
      width: 80%;
  }
}
